<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %date{ISO8601} [%L:%logger{64}] - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- For this to work do we need to to create loggers with full class name not .getSimpleName() -->
	<logger name="org.hopto.eriksen.resources" level="trace"/>

	<!-- This will only affect code executed in the test domain -->
	<!-- TRACE < DEBUG < INFO < WARN < ERROR -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
